phoneme_feature-mr1-rc-b04/cldc/build/share/bin/cygwin_i386/preverify.exe svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/build/share/bin/darwin_powerpc/preverify svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/build/share/bin/kdp.jar svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/build/share/bin/linux_arm/preverify svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/build/share/bin/linux_c/preverify svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/build/share/bin/linux_i386/preverify svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/build/share/bin/linux_sparc/preverify svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/build/share/bin/solaris_sparc/preverify svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/build/share/bin/win32_i386/preverify.exe svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/src/tools/memprof_client/doc/vm_memprof_draft_html_18823b43.gif svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/src/tools/memprof_client/doc/vm_memprof_draft_html_206782f8.gif svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/src/tools/memprof_client/doc/vm_memprof_draft_html_69d13b5c.gif svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/src/tools/memprof_client/doc/vm_memprof_draft_html_m412a8b3b.gif svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/src/tools/profview/icons/java_comp.gif svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/src/tools/profview/icons/java_int.gif svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/src/tools/profview/icons/method.gif svn_mime_002dtype=application%2Foctet-stream
phoneme_feature-mr1-rc-b04/cldc/src/tools/profview/icons/method_leaf.gif svn_mime_002dtype=application%2Foctet-stream
